<a href="https://colab.research.google.com/github/chaesang/Coursera_Capstone/blob/master/Canada_Toronto_Postal_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read data from wikipedia page

In [1]:
import requests
import lxml.html as lh
import pandas as pd

tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
postal_df = tables[0]
postal_df.shape

(180, 3)

In [2]:
postal_df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove the row with 'Borough' = 'Not assigned

In [3]:

postal_df = postal_df[postal_df['Borough'] != 'Not assigned']
postal_df.shape

(103, 3)

Check if 'Neighborhood' == 'Not assigned'

In [4]:
postal_df[postal_df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

post_df doesn't have the cell with 'Not assigned'.