<a href="https://colab.research.google.com/github/chaesang/Coursera_Capstone/blob/master/Canada_Toronto_Postal_Codes_with_Lat_Long.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read data from wikipedia page

In [ ]:
import requests
import lxml.html as lh
import pandas as pd

tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
postal_df = tables[0]
postal_df.shape

(180, 3)

In [ ]:
postal_df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove the row with 'Borough' = 'Not assigned

In [ ]:

postal_df = postal_df[postal_df['Borough'] != 'Not assigned']
postal_df.shape

(103, 3)

Check if 'Neighborhood' == 'Not assigned'

In [ ]:
postal_df[postal_df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

*post_df* doesn't have the cell with 'Not assigned'.

In [ ]:
postal_df

    Postal Code  ...                                       Neighborhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [ ]:
!wget http://cocl.us/Geospatial_data
gd=pd.read_csv('Geospatial_data')

gd.head()

--2020-07-03 23:11:02--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.194, 158.85.108.86, 158.85.108.83
Connecting to cocl.us (cocl.us)|169.48.113.194|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data [following]
--2020-07-03 23:11:02--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-03 23:11:03--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-03 23:11:03--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-03 23:11:04--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.29.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.29.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!G5yZOdN6iaQjZpiRFuczfDhaEAyUwzsfP7NvQLRvaedDm1jq9T6CAzk1Uy0tPioI7YlyE-X_sHyNADfBEhPuDk3E4nlVNLVHOoY_cgmDsg3QZp3SPPxHmZGWus7meaX8oEntrz29FApVWJJCjJqJ7XABRvcc2bjqsPgHBGI-DsQOq4R2acRfaLvahuWZKD4dcKJn0juAdj9q4tE3NhcZUQd8vw_VshRNMCPEvTohD-_Fbm7HSQSPsaH6YgUm2I5eMLS4qRCTwVjSY5q6lpHY2iJXAQSDrV9waC0wrykexZ2ROgaPa1SElvtSrWEgS4WZj7ZDaYRrkPielelTYgsJj2rLS_iPmsdFErK3K8Hpgkrou7nil7Md_fzYxxy8evW_Cb2NP7oTdxAqy73q46n7aAOM9g885uzZoOWwnxC-BJhdjTK34a-TZQVSc1UyDeZp-LEvNj_8SSJ4APg4Apfck5P1YlwMBUx2ktrTXskVByOXzmMCLpvIv5OU95tNqdMC8YMS_J2eQ3OgAYfbjATcCKTzckt9nwsMeQx-6324N6SgRBGmZXMbEQf-Kcj3lnBBYSFslmWSRtykwUIcErRJdPeAQgF8FtEbjnaSjURsdYZC8KcKvPynHeF4CAFUbZNhCDvoi-_tACb8DWTWmOAhCT_tU3DQaooNZF3Oug_DwsTPJWioL-GLVCs-VrkvPyIZiBbWUrCe7f0kanTFBF2wbqIvh_nLCniwyvpk9f90AUcQRW4I2zhlsBViNrcmu2VRS67fff30ex1X3T6cvBw7yYzIH0ZrVuQ_CfkC65WQ87W70HKiiAxrcyzyEgvKDqrnWGDP3UejmvG9jzyC3vouA12HjX2F-ABjBnbtqBLjJN1uVrN3NxD9FYK_Tf0f-4aBBT9HbmKa7AEn4HtdBpZEFajfOAQG6hW0uqUF6zBbMLg_5JntmjLasmWG94DVaG9t6Wh2RtKQnT9-wfR4B_7EZOkGJwRFjYREkq60OYqeYmMmf2t2sDsduGgyKpaHvYztRGRv_cs2iEjlHC0zFdU9ffOWIxV2IdClIxgaKOBaz7F8psqBsD-VcOzOHeKrvZExhYgpLrlnrw14pfDaahmUSSCIQran5CePs4ez_kqMhhcZo6XjSb6HvKjIgDhU_9t0iTizUqsxCordVY-CMgl_ysC8K7cfwychRrNWzvqi1_dntlLk1j00VimbiiX6c6pti7-IamHEQ_7Kw0KQYRuzekUTVpZ7L4ZaOTNNNeLeUGAcu2hGyrQTRpz3CYyFtrng409JRN4z-6cN8lYsqlvHPg3qiK4AUML_wy_ldJC-GKgMTsiDnGMEpvvROamh0T96xff3V9UqD6QM6lkIHaMrwx0x16Sc3PSMvZqCZLEXMkmKX1mlqIr7GyAswYHZGuwYa4IUAjIVfakLXauR_dwsKm8eM2yON_p-zn4mGhuRjv8w/download [following]
--2020-07-03 23:11:04--  https://public.boxcloud.com/d/1/b1!G5yZOdN6iaQjZpiRFuczfDhaEAyUwzsfP7NvQLRvaedDm1jq9T6CAzk1Uy0tPioI7YlyE-X_sHyNADfBEhPuDk3E4nlVNLVHOoY_cgmDsg3QZp3SPPxHmZGWus7meaX8oEntrz29FApVWJJCjJqJ7XABRvcc2bjqsPgHBGI-DsQOq4R2acRfaLvahuWZKD4dcKJn0juAdj9q4tE3NhcZUQd8vw_VshRNMCPEvTohD-_Fbm7HSQSPsaH6YgUm2I5eMLS4qRCTwVjSY5q6lpHY2iJXAQSDrV9waC0wrykexZ2ROgaPa1SElvtSrWEgS4WZj7ZDaYRrkPielelTYgsJj2rLS_iPmsdFErK3K8Hpgkrou7nil7Md_fzYxxy8evW_Cb2NP7oTdxAqy73q46n7aAOM9g885uzZoOWwnxC-BJhdjTK34a-TZQVSc1UyDeZp-LEvNj_8SSJ4APg4Apfck5P1YlwMBUx2ktrTXskVByOXzmMCLpvIv5OU95tNqdMC8YMS_J2eQ3OgAYfbjATcCKTzckt9nwsMeQx-6324N6SgRBGmZXMbEQf-Kcj3lnBBYSFslmWSRtykwUIcErRJdPeAQgF8FtEbjnaSjURsdYZC8KcKvPynHeF4CAFUbZNhCDvoi-_tACb8DWTWmOAhCT_tU3DQaooNZF3Oug_DwsTPJWioL-GLVCs-VrkvPyIZiBbWUrCe7f0kanTFBF2wbqIvh_nLCniwyvpk9f90AUcQRW4I2zhlsBViNrcmu2VRS67fff30ex1X3T6cvBw7yYzIH0ZrVuQ_CfkC65WQ87W70HKiiAxrcyzyEgvKDqrnWGDP3UejmvG9jzyC3vouA12HjX2F-ABjBnbtqBLjJN1uVrN3NxD9FYK_Tf0f-4aBBT9HbmKa7AEn4HtdBpZEFajfOAQG6hW0uqUF6zBbMLg_5JntmjLasmWG94DVaG9t6Wh2RtKQnT9-wfR4B_7EZOkGJwRFjYREkq60OYqeYmMmf2t2sDsduGgyKpaHvYztRGRv_cs2iEjlHC0zFdU9ffOWIxV2IdClIxgaKOBaz7F8psqBsD-VcOzOHeKrvZExhYgpLrlnrw14pfDaahmUSSCIQran5CePs4ez_kqMhhcZo6XjSb6HvKjIgDhU_9t0iTizUqsxCordVY-CMgl_ysC8K7cfwychRrNWzvqi1_dntlLk1j00VimbiiX6c6pti7-IamHEQ_7Kw0KQYRuzekUTVpZ7L4ZaOTNNNeLeUGAcu2hGyrQTRpz3CYyFtrng409JRN4z-6cN8lYsqlvHPg3qiK4AUML_wy_ldJC-GKgMTsiDnGMEpvvROamh0T96xff3V9UqD6QM6lkIHaMrwx0x16Sc3PSMvZqCZLEXMkmKX1mlqIr7GyAswYHZGuwYa4IUAjIVfakLXauR_dwsKm8eM2yON_p-zn4mGhuRjv8w/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.29.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.29.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data.2’

Geospatial_data.2   100%[===================>]   2.82K  --.-KB/s    in 0s

2020-07-03 23:11:05 (331 MB/s) - ‘Geospatial_data.2’ saved [2891/2891]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
postal_df = postal_df.set_index('Postal Code').join(gd.set_index('Postal Code')).reset_index()
postal_df

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]